[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/wren"]
	path = extern/wren
	url = https://github.com/wren-lang/wren.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/ImGuizmo"]
	path = extern/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "extern/implot"]
	path = extern/implot
	url = https://github.com/epezent/implot.git
[submodule "extern/portaudio"]
	path = extern/portaudio
	url = https://github.com/PortAudio/portaudio.git
[submodule "extern/rttr"]
	path = extern/rttr
	url = https://github.com/rttrorg/rttr.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extern/entt"]
	path = extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "extern/OpenFBX"]
	path = extern/OpenFBX
	url = https://github.com/nem0/OpenFBX.git
[submodule "extern/astc-encoder"]
	path = extern/astc-encoder
	url = https://github.com/ARM-software/astc-encoder.git
[submodule "extern/zlib"]
	path = extern/zlib
	url = https://github.com/madler/zlib.git
[submodule "extern/clay"]
	path = extern/clay
	url = https://github.com/nicbarker/clay.git
